.top-bar {
    height: 5em;
    background-color: #333;
    display: flex;
    flex-direction: row;
    
}
.track-search {
    border: none;
    outline: none;
    border-radius: 0;
    background-color: #444;
    height: 2em;
    padding: .5em;
    margin: 1em;
    font-size: 1em;
    color: #ddd;
    flex-grow: 1;
}
.track-search:focus {
    background-color: #555;
}
.settings-button {
    height: 3em;
    width: 3em;
    padding: 1em;
    cursor: pointer;
    flex-grow: 0;
}
.track-search-results {
    max-height: 20em;
    height: 20em;
    background-color: #444;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 500ms ease-in-out;
}
.results-hidden {
    height: 0em;
    overflow-y: hidden;
    transition: all 500ms ease-in-out;
}
.track-search-result {
    height: 3em;
    display: flex;
    color: #ddd;
    cursor: pointer;
    border-bottom: 1px solid #222;
}
.track-search-result:hover {
    color: #fff;
}
.track-search-result > img {
    height: 2.5em;
    margin: .25em;
}
.track-info {
    margin-left: .5em;
    padding-top: .25em;
}
.track-artist {
    font-size: .75em;
}