.detail-view-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100vh;
    left: 0;
    background-color: #181818;
    background-size:  cover;
    background-repeat: no-repeat;
}
.detail-view-hidden {
    top: 100vh;
    transition: top 800ms;
}

.detail-view-shown {
    top: 0;
    transition: top 800ms;
}
.detail-view-back {
    width: 100%;
    height: 7.5%;
    filter: opacity(.7);
    background-color: #0f0f0f;
}