.rgb-led {
    display: inline-block;
    position: absolute;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin: 0.5vh;
    transform: translate(-50%, -50%);
}
.led-strip-container {
    position: relative;
    width: 46vw;
    height: 46vw;
}