.menu-container {
    height: 100vh;
    width: calc(5vw - 1px);
    position: absolute;
    left: 0;
    top: 0;
    line-height: 5vw;
    z-index: 999;
    background-color: #181818;
    border-right: 1px solid #00ff1a;
}
.menu-item {
    height: 5vw;
    width: 5vw;
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #353535;
}