* {
    margin: 0;
    padding: 0;
    user-select: none;
}
@font-face {
    font-family: Russo;
    src: url("./fonts/RussoOne-Regular.ttf");
}
body {
    overflow: hidden;
    font-family: Russo;
    color: #00ff1a;
    background-color: #181818;
}